.navbar {
    background: #828489;
    color: white;
    border:blue 2px solid;
}

.links {
    position: absolute;
    right: 10px;
     color: white;
}

#home-link-name {
    color: white;
}

#projects-link-name {
    color: white;
}

#contacts-link-name {
    color: white;
}

#Dev-name {
    color: white;
}