#layout{
    background-color: #828489;
    width: 100%;
    margin-left: 0px;
    margin-right: 400px;
    margin-top: 80px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#button{
    background-color: green;
    color: white;
    width: 123px;
    height: 28px;
    border: none;
}