.main-footer {
    background-color: #828489;
    position:bottom;
}

.footer-links {
    display: flex;
}

.footer-links > div {
    margin-left: 250px;
    text-align: center; 
    font-size: 40px;
    width: 50px;
}

.copyright-text {
    color: white;
    text-align: center;
}