.main-footer {
    background-color: #828489;
    position:bottom;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links > div {
    /* margin-left: 250px; */
    text-align: center; 
    font-size: 40px;
    width: 50px;
    margin: 10px 40px;
    /* margin-left:40px; */
    /* margin-right:40px; */
}

.copyright-text {
    color: white;
    text-align: center;
    margin: 0px;
}