.main-footer {
    background-color: #828489;
    color: white;
    /* padding: 1em; */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

/* .footer-copyright {
    align-self: center;
    color: white;
} */


  
.main-footer > div {
    /* background-color: #f1f1f1; */
    /* width: 100px; */
    margin: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    font-size: 30px;
    color:white;
}