.btnDiv{
  width: 100%;
  background-color:darkgrey;
}


.light-theme {
    --text-color: #111;
    --link-color: #cf4cf7;
    --background-color: #EEE;
  }
  .dark-theme {
    --text-color: #FFF;
    --link-color: #faf697;
    --background-color: #222;
  }
  body {
      background-color: var(--background-color);
      color: var(--text-color);
  }
  a { color: var(--link-color); }

